<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.kdigital.spring7.mapper.BoardMapper">
	<!-- 글 개수 조회 -->
	<select id="getBoardCount" resultType="int" parameterType="map">
	SELECT COUNT(*)
	FROM 
		board
	WHERE
    	${searchItem}  LIKE '%' || #{searchWord} || '%'
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board">
	INSERT INTO board
	( 
		boardseq
		, memberid
		, title
		, boardtext 
		<if test="originalfile != null">
		, originalfile
		, savedfile
		</if>
	)
	VALUES
	( 
		board_seq.NEXTVAL
		, #{memberid}
		, #{title}
		, #{boardtext}
		<if test="originalfile != null">
		, #{originalfile}
		, #{savedfile}
		</if>
	)
	</insert>
	
	<!-- 게시글 목록 요청 -->
	<select id="selectBoardAll" resultType="Board" parameterType="map">
	SELECT * FROM
	(
	    SELECT ROWNUM rnum,  b.* FROM
	        (
	        SELECT
	            boardseq
	            , memberid
	            , title
	            , to_char(regdate, 'YYYY-MM-DD') as regdate
	            , hitcount
	            , originalfile
	            , savedfile
	        FROM
	            board
	        WHERE
	        	<if test = "searchItem == 'title'">
		    	title LIKE '%' || #{searchWord} || '%'
		    	</if> 
	        	<if test = "searchItem == 'memberid'">
		    	memberid LIKE '%' || #{searchWord} || '%'
		    	</if> 
		    	<if test = "searchItem == 'boardtext'">
		    	boardtext LIKE '%' || #{searchWord} || '%'
		    	</if> 		    	
		    ORDER BY boardseq DESC
	        ) b
	)   
	WHERE rnum BETWEEN #{srow} AND #{erow}	
	</select>
	
	<!-- 게시글 1개 조회  -->
	<select id="selectBoard" parameterType="int" resultType="Board">
	SELECT
		boardseq
		, memberid
		, title
		, boardtext
		, to_char(regdate, 'YYYY-MM-DD') as regdate
		, originalfile
		, savedfile
	FROM
		board
	WHERE
		boardseq = #{boardseq}
	</select>
	
	<!--  게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
	DELETE board
	WHERE 
		boardseq = #{boardseq}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
	UPDATE board
	SET
	   	title = #{title}
	  	,boardtext = #{boardtext}
	  	,regdate = sysdate
	  	<if test="originalfile != null">
		, originalfile = #{originalfile}
		, savedfile = #{savedfile}
		</if>
	WHERE
	  	boardseq = #{boardseq}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateHitcount" parameterType="int">
	UPDATE board
	SET
		hitcount = hitcount + 1
	WHERE
		boardseq = #{boardseq} 
	</update>
	
	<!-- 게시글 중 파일관련 정보만 업데이트 -->
	<update id="updateFile" parameterType="int">
	UPDATE board
	SET
		originalfile = null
		, savedfile = null
	WHERE
		boardseq = #{boardseq}
	</update>
</mapper>
















