<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<!-- 글꼴1 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Foldit:wght@900&family=Gowun+Dodum&family=Montagu+Slab:wght@100;300;500;700&display=swap"
    rel="stylesheet">
<!-- 글꼴2 -->    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Foldit:wght@900&family=Gowun+Dodum&family=Montagu+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">

<!-- 외부CSS -->
<link rel="stylesheet" th:href="@{/style/main.css}">
<link rel="stylesheet" th:href="@{/style/signup.css}">
<!-- 내부CSS -->
<style>
	span#idresult {
		font-size:0.7em;
		color:red;
	}
</style>

<!-- 외부 JS -->
<script th:src="@{/script/jquery-3.7.0.min.js}"></script>
<script>
	$(function(){
		$("#memberid").on('keyup', idCheck);
	});
	
	function idCheck(){
		let memberid = $("#memberid").val();
		if (memberid.length<3 || memberid.length>5){
			$("span#idresult").text('아이디는 3~5자리로 입력해주세요');
			return;
		 }
		
		$.ajax({
			url:'idCheck'
			, method:'POST'
			, data : {"memberid" : $("#memberid").val()}
			, success : function(resp) {
				if (resp == 'success') {
					$("span#idresult").css('color','blue');
					$("span#idresult").text('사용 가능한 아이디입니다');
				} else {
					$("span#idresult").css('color','red');
					$("span#idresult").text('사용할 수 없는 아이디입니다');
				}
			}
		});
	}
</script>
<script defer th:src="@{/script/member.js}"></script>

</head>

<body>
	<div class="container">
		<div class="logo">
				<a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="로고"></a>
		</div>
	<form id="memberForm" th:action="@{/member/signup}" method="POST">
    	<h2>회원가입_회원정보 입력</h2>
      	<div><span class="important">*</span>표시된 항목은 <span class="red">필수입력</span> 항목입니다.</div>
      	<table border="1">
	         
	        <tr>
	            <th><span class="important">*</span>아이디</th>
	            <td>
	            	<input type="text" id="memberid" name="memberid" placeholder="영문소문자, 숫자 포함 3~5자">
	            	<span id="idresult"></span>
	            	<!--<input type="button" value="중복확인"> <br>-->
	            </td>
	         </tr>
	         
	         <tr>
	            <th><span class="important">*</span>비밀번호</th>
	            <td>
	            	<input type="password" id="memberpwd" name="memberpwd"><br>
	           		<span>영문, 숫자, 특수문자 중 2가지 이상 혼합하여 3~5자로 입력하세요<br>
	          			  ※ 특수문자는 "!@#()_|만 사용가능합니다</span><br>
				</td>
	         </tr>
	         
	         <tr>
	            <th><span class="important">*</span>이름</th>
	            <td><input type="text" id="membername" name="membername"></td>
	        </tr>
	         
	         <tr>
	            <th><span class="important">*</span>이메일</th>
	            <td>
	            	<input type="text" id="m1">@
	            	<input type="text" id="m2" placeholder="직접입력">
	            	<select id="m3">
	            		<optgroup label="선택">
	            			<option>naver.com</option>
		            		<option>gmail.com</option>
		               		<option>daum.net</option>
	               		</optgroup>
	            	</select>
	            	<input type="hidden" name="email" id="email" value="">
				</td>
	         </tr>
	         
	         <tr>
	            <th><span class="important">*</span>연락처 (휴대전화)</th>
	            <td>
					<span> ※ 휴대전화 번호를 입력하여 주시기 바랍니다</span><br>
		            <span>
		            	<select id="p1">
		            		<option>010</option>
		            		<option>017</option>
		            		<option>019</option>
		            	</select>-
		            	<input type="text" id="p2">-<input type="text" id="p3">
		            	<input type="hidden" name="phone" id="phone" value="">
		            </span><br>
	            </td>
	         </tr>
	         
	         <tr>
	            <th><span class="important">*</span>주소</th>
	            <td>
	            	<input type="text" name="address" placeholder="주소 입력" style="width:500px;">
	            </td>
	         </tr>
	        
   		</table>
	
	    <div class="btns">
	    	<input id="submitBtn" type="submit" value="가입하기">
	     	<input type="button" value="취소">
	  	</div>
	  	
	</form>
  	</div> <!-- end.container -->
</body>
</html>