@charset "UTF-8";

body {
    background-color: blanchedalmond;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0 auto;
}

h2{
	font-family: 'Black Han Sans', sans-serif;
}

div.wrapper {
	 margin: 0 auto;
	 padding : 0px 20px 20px 20px;
}

.logo {
	padding : 20px 20px;
}

li:hover{
	background-color : lightgray;
}